.smallContainer{
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap:20px;

}

.button-primary {
  color: white;
  background-color: #007bff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  accent-color:  #007bff;
}

.button-checked {
  border: 2px solid rgb(182, 175, 175);
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  accent-color: #28a745;
}

.button-disabled {
  color: #aaa;
  background-color: #ddd;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: not-allowed;
}

.default {
  color: #000;
  background-color: #f1f1f1;
  padding: 0.5em 1em;
  border-radius: 4px;
  accent-color:#007bff
}
.selected{
   border-color: #1890ff;
    background-color: white;

}